

h1 {font-size: 40px; color: crimson;}

h2, h3 {font-size: 35px; color: darkblue;}

p {font-size: 28px; color: black;}

#second {color: red}

head {background-color: blanchedalmond;}

body {background-color: black}

div p {text-decoration: underline;}

p, li {
      font-size: 24px;
      font-family: Arial, Helvetica, sans-serif;
    }


